.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  min-width: 300px;
  height: fit-content;
  background-color: #24262e;
  margin: -8px;
  font-family: "Prompt";
}

.header-image {
  width: 300px;
  padding-top: 20px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header .inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.header input {
  width: 100%;
  padding: 10px;
  margin: 5px;
  font-size: 17px;
  border-radius: 10px;
  background-color: #31333b;
  color: #efeeec;
}

.header input:hover {
  transition: box-shadow 0.1s;
  animation: glow 1s forwards;
}

.taskInput {
  height: 100px;
  color: #efeeec;
}

.header button {
  width: 98%;
  height: 40px;
  justify-content: center;
  background-color: #f27853;
  color: #24262e;
  font-weight: 900;
  border: solid 2px #f27853;
  border-radius: 15px;
  cursor: pointer;
}

/* TODO LIST */

.todoList {
  display: flex;
  flex-direction: column;
  height: 320px;
  overflow-y: scroll;
  background-color: #24262e;
  z-index: 1;
  /* border: 2px solid #db3434; */
}

.tasks {
  display: flex;
  width: 100%;
  color: rgb(180, 180, 180);
  justify-content: center;
  align-items: start;
  height: 220px;
  background-color: #24262e;
  padding: 5px;
  /* border: 2px solid #db3434; */
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: fit-content;
  gap: 10px;
  width: 95%;
  justify-content: center;
  align-items: start;
  border-radius: 10px;
  margin-bottom: 20px;
  /* border: 2px solid #00ff0d; */
  padding: 20px;
  /* border-bottom: 2px solid #7c7d83; */
}

.content:before {
  content: "Tasks";
  bottom: 0;
  left: 20%; /* Adjust the percentage to control the starting point of the line */
  width: 100%; /* Adjust the percentage to control the width of the line */
  border-bottom: 2px solid #7c7d83; /* Adjust color and thickness as needed */
}

span {
  display: flex;
  /* grid-row: 2 / 1 span; */
  grid-column: 2 span;
  height: 30px;
  font-size: 15px;
  align-items: start;
  justify-content: space-evenly;
  font-weight: 100;
  border-radius: 10px;
  padding: 10px;
  background-color: #31333b;
  /* border: 2px solid #3498db; */
}

span:hover {
  transition: box-shadow 0.1s;
  animation: glow 1s forwards;
}

/* TODO CONTENT */
.todo1 {
  grid-column: 1/ 4 span;
  font-size: 20px;
  overflow: scroll;
  text-overflow: ellipsis;
  background-color: #31333b;
  color: #efeeec;
  /* border: 2px solid #3498db; */
}
.todoDateSet {
  height: 25px;
  background-color: #bedad9;
  color: #31333b;
}
.todoCompletetionDate {
  height: 25px;
  background-color: #bedad9;
  color: #31333b;
}

button {
  background-color: #28403c;
  color: #24262e;
  border: none;
  height: 35px;
  width: 95%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  /* border: 2px solid #3498db; */
}

.editButton {
  display: flex;
  grid-column: 1 / span 2;
  height: 35px;
  width: 100%;
  font-size: 15px;
  font-family: "Prompt";
  align-items: center;
  justify-content: center;
  background-color: #ebe6e2;
  color: #24262e;
}

.deleteButton {
  display: flex;
  grid-column: 3 / span 2;
  height: 35px;
  width: 100%;
  font-size: 15px;
  font-family: "Prompt";
  align-items: center;
  justify-content: center;
  background-color: #f17853;
  color: #24262e;
}

button:hover {
  transition: box-shadow 0.1s;
  animation: glow 1s forwards;
}

/* TODO EDIT */

input {
  display: flex;
  /* grid-row: 2 / 1 span; */
  grid-column: 2 span;
  height: 30px;
  font-size: 15px;
  align-items: start;
  justify-content: space-evenly;
  font-weight: 100;
  font-family: "Prompt";
  border-radius: 10px;
  padding: 10px;
  background-color: #bedad9;
  border: 2px solid #515461;
}

/* GLOWING ELEMENTS */

@keyframes glow {
  0% {
    box-shadow: 0 0 0px #24262e; /* Initial shadow color and size */
  }
  50% {
    box-shadow: 0 0 5px #85c0b8; /* Midpoint shadow color and size */
  }
  100% {
    box-shadow: 0 0 7px #85c0b8; /* Final shadow color and size */
  }
}
