.App {
  display: flex;
  flex-direction: column;
  margin: -8px;
  width: 100dvw;
  height: 100dvh;
  background-color: #24262e;
  font-family: "Prompt";
  /* border: 2px solid #db3434; */
}

.header-image {
  display: flex;
  width: 250px;
  padding-top: 20px;
  /* border: 2px solid #db3434; */
}

.header {
  display: flex;
  height: 250px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  /* border: 2px solid #db3434; */
}

.header .inputContainer {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 10px;
  /* border: 2px solid #db3434; */
}

.header input {
  width: 100%;
  /* padding: 10px; */
  /* margin: 5px; */
  font-size: 17px;
  border-radius: 10px;
  background-color: #31333b;
  color: #efeeec;
}

.header input:hover {
  transition: box-shadow 0.1s;
  animation: glow 1s forwards;
}

.taskInput {
  grid-column: 1 / 4 span;
  height: 75px;
  color: #efeeec;
}

.deadlineTitle {
  grid-column: 1 / 2 span;
  background-color: #24262e;
  color: #efeeec;
  padding-left: 10px;
  justify-content: start;
  align-items: center;
  height: 12px;
  font-weight: 100;
  font-size: 10px;
}
.urgencyTitle {
  grid-column: 3 / 1 span;
  background-color: #24262e;
  color: #efeeec;
  padding-left: 10px;
  justify-content: start;
  align-items: center;
  height: 12px;
  font-weight: 100;
  font-size: 10px;
}
.addTaskButton {
  grid-column: 4 / 2 span;
  justify-content: center;
  width: 100%;
  background-color: #f27853;
  color: #24262e;
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
}

.deadlineInput:before {
  /* content: "Deadline: "; */
  font-size: 10px;
  font-weight: 200;
  /* left: 20%; */
  /* border-bottom: 2px solid #7c7d83; */
}
.deadlineInput {
  grid-column: 1 / 2 span;
  width: 100%;
  /* border: 2px solid #db3434; */
}

/* Slider */

.urgencyToggle {
  grid-column: 3 / 1 span;
  display: flex;
  justify-content: space-evenly;
  border: 1.5px solid rgb(180, 180, 180);
  border-radius: 15px;
  width: 100%;
}

.urgencyButton {
  background-color: #24262e;
  color: rgb(180, 180, 180);
  border-radius: 15px;
  transition: background-color 0.7s, color 0.5s;
}

.urgencyButton.active {
  background-color: rgb(180, 180, 180);
  color: #24262e;
  transition: background-color 0.7s, color 0.5s;
}

.urgencyButton:hover {
  /* animation: glow 1s forwards; */
}

.low.active {
  background-color: #7cbf00;
  transition: 1s;
}
.med.active {
  background-color: #ff9800;
  transition: 1s;
}
.high.active {
  background-color: #ff0800;
  transition: 1s;
}

/* TODO LIST */

.todoList {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 100%;
  /* overflow-y: scroll; */
  overflow-x: scroll;
  background-color: #24262e;
  color: #efeeec;
  font-family: "Prompt";
  font-weight: 200;
  z-index: 1;
  /* border: 2px solid #db3434; */
}

/* DROP DOWN */
.dropDown {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efeeec;
  border: none;
  padding-top: 20px;
  /* border: 2px solid #db3434; */
}

Select {
  justify-content: center;
  align-items: start;
  color: rgb(180, 180, 180);
  font-size: 15px;
  background-color: #24262e;
  border-radius: 10px;
  padding: 5px;
  border: none;
}

option {
  justify-content: center;
  align-items: start;
  color: rgb(180, 180, 180);
  background-color: #24262e;
  border-radius: 10px;
  padding: 5px;
}

.task {
  display: flex;
  width: 100%;
  color: rgb(180, 180, 180);
  justify-content: center;
  align-items: start;
  height: fit-content;
  background-color: #24262e;
  padding: 5px;
  /* border: 2px solid #db3434; */
}

.content {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
  height: fit-content;
  gap: 3px;
  width: 90%;
  justify-content: center;
  align-items: start;
  border-radius: 10px;
  /* border: 2px solid #00ff0d; */
}

.content:before {
  content: "Date Created: " attr(data-created);
  grid-column: 2 / span 10;
  width: fit-content;
  font-size: 10px;
  font-weight: 100;
  margin-bottom: 5px;
  margin-left: 60px;
  border-bottom: 2px solid #7c7d83;
}

span {
  display: flex;
  grid-row: 2 / 8 span;
  height: 30px;
  font-size: 15px;
  align-items: start;
  justify-content: space-evenly;
  font-weight: 100;
  border-radius: 10px;
  padding: 10px;
  background-color: #31333b;
  /* border: 2px solid #3498db; */
}

span:hover {
  transition: box-shadow 0.1s;
  animation: glow 1s forwards;
}

/* TODO CONTENT */
.todo1 {
  grid-column: 2 / 7 span;
  font-size: 20px;
  /* overflow: scroll; */
  text-overflow: ellipsis;
  background-color: #31333b;
  color: #efeeec;
  font-weight: 200;
  /* border: 2px solid #3498db; */
}

/* TILTES */

.urgencyTodo {
  grid-column: 9 / 1 span;
  align-items: center;
  border-radius: 50px;
  margin-right: 3px;
}
.urgencytTodoEditToggle {
  background-color: #efeeec;
  color: #31333b;
  height: 100%;
  width: 50px;
}

.low {
}
.med {
}
.high {
}

button {
  color: #efeeec;
  color: #24262e;
  border: none;
  /* height: 35px; */
  width: 30px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 500;
  /* border: 2px solid #3498db; */
}

.completeButton {
  display: flex;
  grid-column: 1 / span 1;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 15px;
  font-family: "Prompt";
  align-items: center;
  justify-content: end;
  background-color: #24262e;
  color: #24262e;
}

.editButton {
  display: flex;
  grid-column: 10 / span 1;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 15px;
  font-family: "Prompt";
  align-items: center;
  justify-content: center;
  background-color: #24262e;
}

/* TODO EDIT */

input {
  /* height: 30px; */
  font-size: 15px;
  /* align-items: start; */
  /* width: 95%; */
  justify-content: space-evenly;
  /* font-weight: 100; */
  font-family: "Prompt";
  border-radius: 10px;
  /* padding: 10px; */
  background-color: #bedad9;
  border: 2px solid #515461;
}

.todoEditInput {
  grid-column: 2 / 7 span;
  height: 40px;
  /* max-width: 400px; */
}

.setDate {
  grid-column: 4 / span 3;
  font-size: 12px;
  color: #efeeec;
  border: none;
  margin-top: -10px;
}
.todoDateSet {
  background-color: #bedad9;
  color: #31333b;
  font-weight: 500;
}

.DeadlineDate {
  grid-column: 7 / span 3;
  font-size: 12px;
  color: #efeeec;
  border: none;
  margin-top: -10px;
}
.todoCompletetionDate {
  background-color: #bedad9;
  color: #31333b;
  font-weight: 500;
}

.deleteButton {
  display: flex;
  grid-column: 10 / span 1;
  height: 100px;
  width: 50px;
  /* border-radius: 30px; */
  font-size: 15px;
  font-family: "Prompt";
  align-items: center;
  justify-content: center;
  background-color: #24262e;
}

/* IS COMPLETED STATE */

.completedContent {
  opacity: 0.5;
  /* border: 2px solid #00ff0d; */
}

.sortByLabel {
  margin-bottom: 2px;
}

/* GLOWING ELEMENTS */

@keyframes glow {
  0% {
    box-shadow: 0 0 0px #24262e; /* Initial shadow color and size */
  }
  50% {
    box-shadow: 0 0 5px #85c0b8; /* Midpoint shadow color and size */
  }
  100% {
    box-shadow: 0 0 7px #85c0b8; /* Final shadow color and size */
  }
}

/* ICONS */

.editIcon {
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.editIcon:hover {
  filter: invert(0%) sepia(0%) saturate(6692%) hue-rotate(320deg)
    brightness(90%) contrast(107%);
}

.binIcon {
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.binIcon:hover {
  filter: invert(20%) sepia(30%) saturate(6692%) hue-rotate(320deg)
    brightness(90%) contrast(107%);
}

.checkboxIcon {
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.checkboxIcon:hover {
  filter: invert(30%) sepia(36%) saturate(300%) hue-rotate(71deg)
    brightness(100%) contrast(93%);
}
