.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  /* min-width: 300px; */
  height: 100vh;
  overflow: hidden;
  background-color: #24262e;
  margin: -8px;
  font-family: "Prompt";
}

.header-image {
  width: 250px;
  padding-top: 20px;
}

.header {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  /* border: 2px solid #db3434; */
}

.header .inputContainer {
  display: grid;
  width: 400px;
  grid-template-columns: repeat(auto-fill, minmax(2, 1fr));
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 10px;
  /* border: 2px solid #db3434; */
}

.header input {
  width: 100%;
  /* padding: 10px; */
  /* margin: 5px; */
  font-size: 17px;
  border-radius: 10px;
  background-color: #31333b;
  color: #efeeec;
}

.header input:hover {
  transition: box-shadow 0.1s;
  animation: glow 1s forwards;
}

.taskInput {
  grid-column: 1 / 4 span;
  height: 75px;
  color: #efeeec;
}

.addTaskButton {
  grid-column: 4 / 0.5 span;
  height: 100%;
  width: 100%;
  margin-left: 22px;
  background-color: #f27853;
  color: #24262e;
  font-weight: 900;
  border-radius: 15px;
  cursor: pointer;
}

.deadlineInput:before {
  content: "Deadline: ";
  font-size: 15px;
  font-weight: 200;
  /* left: 20%; */
  /* border-bottom: 2px solid #7c7d83; */
}
.deadlineInput {
  grid-column: 1 / 3.5 span;
  align-items: center;
  /* @media screen {
    height: 35px;
  } */
  /* border: 2px solid #db3434; */
}

/* TODO LIST */

.todoList {
  display: flex;
  flex-direction: column;
  height: 320px;
  /* overflow-y: scroll; */
  background-color: #24262e;
  z-index: 1;
  /* border: 2px solid #db3434; */
}

.tasks {
  display: flex;
  width: 95%;
  color: rgb(180, 180, 180);
  justify-content: center;
  align-items: start;
  height: fit-content;
  background-color: #24262e;
  padding: 5px;
  /* border: 2px solid #db3434; */
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: fit-content;
  gap: 10px;
  width: 80%;
  justify-content: center;
  align-items: start;
  border-radius: 10px;
  /* margin-bottom: 20px; */
  /* border: 2px solid #00ff0d; */
  /* padding: 20px; */
  /* border-bottom: 2px solid #7c7d83; */
}

.content:before {
  content: "Date Created: " attr(data-created);
  left: 20%;
  width: 200%;
  font-size: 13px;
  font-weight: 100;
  border-bottom: 2px solid #7c7d83;
}

span {
  display: flex;
  /* grid-row: 2 / 1 span; */
  grid-column: 2 span;
  height: 30px;
  font-size: 15px;
  align-items: start;
  justify-content: space-evenly;
  font-weight: 100;
  border-radius: 10px;
  padding: 10px;
  background-color: #31333b;
  /* border: 2px solid #3498db; */
}

span:hover {
  transition: box-shadow 0.1s;
  animation: glow 1s forwards;
}

/* TODO CONTENT */
.todo1 {
  grid-column: 2 / 8 span;
  font-size: 20px;
  overflow: scroll;
  text-overflow: ellipsis;
  background-color: #31333b;
  color: #efeeec;
  font-weight: 200;
  /* border: 2px solid #3498db; */
}

button {
  background-color: #28403c;
  color: #24262e;
  border: none;
  height: 35px;
  width: 95%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  /* border: 2px solid #3498db; */
}

.completeButton {
  display: flex;
  grid-column: 1 / span 1;
  height: 50px;
  width: 100%;
  font-size: 15px;
  font-family: "Prompt";
  align-items: center;
  justify-content: center;
  background-color: #ebe6e2;
  color: #24262e;
}

.editButton {
  display: flex;
  grid-column: 4 / span 0.5;
  height: 50px;
  width: 100%;
  font-size: 15px;
  font-family: "Prompt";
  align-items: center;
  justify-content: center;
  background-color: #ebe6e2;
  color: #24262e;
}

button:hover {
  transition: box-shadow 0.1s;
  animation: glow 1s forwards;
}

/* TODO EDIT */

input {
  display: flex;
  /* grid-row: 2 / 1 span; */
  grid-column: 1 span;
  /* height: 30px; */
  font-size: 15px;
  /* align-items: start; */
  justify-content: space-evenly;
  /* font-weight: 100; */
  font-family: "Prompt";
  border-radius: 10px;
  /* padding: 10px; */
  background-color: #bedad9;
  border: 2px solid #515461;
}

.todoEditInput {
  grid-column: 2 / 8 span;
  height: 40px;
  max-width: 100%;
  overflow: hidden;
}
.todoDateSet {
  grid-column: 1 / span 3;
  /* height: 25px; */
  background-color: #bedad9;
  color: #31333b;
  font-weight: 500;
}
.todoCompletetionDate {
  grid-column: 4 / span 6;
  /* height: 25px; */
  background-color: #bedad9;
  color: #31333b;
  font-weight: 500;
}

.deleteButton {
  display: flex;
  grid-column: 10 / span 1;
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-family: "Prompt";
  align-items: center;
  justify-content: center;
  background-color: #f17853;
  color: #24262e;
}

/* IS COMPLETED STATE */
.tasks.completed {
  opacity: 0.5;
}

/* GLOWING ELEMENTS */

@keyframes glow {
  0% {
    box-shadow: 0 0 0px #24262e; /* Initial shadow color and size */
  }
  50% {
    box-shadow: 0 0 5px #85c0b8; /* Midpoint shadow color and size */
  }
  100% {
    box-shadow: 0 0 7px #85c0b8; /* Final shadow color and size */
  }
}
